@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

:root {
  --clr-primary-400: hsl(172, 67%, 45%);

  --clr-neutral-400: hsl(183, 100%, 15%);
  --clr-neutral-500: hsl(186, 14%, 43%);
  --clr-neutral-600: hsl(184, 14%, 56%);
  --clr-neutral-700: hsl(185, 41%, 84%);
  --clr-neutral-800: hsl(189, 41%, 97%);
  --clr-neutral-900: hsl(0, 0%, 100%);

  --ff: "Space Mono", monospace;
  --fs-400: 1.5rem;
  --fw-400: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
}

body {
  min-height: 100vh;
  font-family: var(--ff);
  font-weight: var(--fw-400);
  background-color: var(--clr-neutral-700);
}

header {
  padding: 3rem;
  display: grid;
  place-items: center;
}

main {
  --border-radius: 2rem;
  background-color: var(--clr-neutral-900);
  padding: 2rem;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

span {
  display: block;
}

h2 {
  color: var(--clr-neutral-500);
  font-size: 1rem;
}

h2 + * {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input {
  height: 3.25rem;
  width: 100%;
  padding: 1.25rem;
  font-size: var(--fs-400);
  font-weight: var(--fw-400);
  color: var(--clr-neutral-400);
  text-align: right;
  border: none;
  border-radius: 5px;
  background-color: var(--clr-neutral-800);
  background-repeat: no-repeat;
  background-position: 1.25rem;
  cursor: pointer;
}

input:hover,
input:focus {
  outline: 2px solid var(--clr-primary-400);
}

input#bill {
  background-image: url("../images/icon-dollar.svg");
}

input#people {
  background-image: url("../images/icon-person.svg");
}

span.error {
  position: relative;
}

span.error::before {
  content: "Can't be zero";
  position: absolute;
  top: -2.5rem;
  right: 0;
  color: #ff0000;
}

span.error input {
  border: 2px solid #ff0000;
}

input#people.error::after {
  content: "Can't be zero";
  /* position: absolute; */
}

.tips {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

input[type="radio"] {
  display: none;
}

label,
button {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: var(--clr-neutral-400);
  font-size: var(--fs-400);
  text-align: center;
  color: var(--clr-neutral-900);
  cursor: pointer;
}

input[type="radio"]:checked + label {
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-400);
}

input[type="submit"] {
  display: none;
}

.total {
  background-color: var(--clr-neutral-400);
  border-radius: 15px;
  padding: 2rem 1.5rem;
  color: var(--clr-neutral-500);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.total h2 {
  color: var(--clr-neutral-900);
}

.total > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total span {
  font-size: 2rem;
  color: var(--clr-primary-400);
}

.total button {
  background-color: var(--clr-primary-400);
  color: var(--clr-neutral-400);
}

label:hover,
:not(button:disabled) button:hover {
  background-color: var(--clr-neutral-700);
  color: var(--clr-neutral-400);
}

button:disabled {
  opacity: 0.1;
  cursor: not-allowed;
}

footer {
  display: none;
}

@media (width > 700px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  main {
    width: min(90vw, 60em);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    border-radius: var(--border-radius);
  }

  .tips {
    grid-template-columns: repeat(3, 1fr);
  }

  .total {
    padding: 3rem;
  }

  .total span {
    font-size: 3rem;
  }

  .total button {
    margin-top: auto;
  }

  footer {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 1rem;
  }
}
